

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Edit My Account &middot; The Milkman</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href=/static/bootstrap/css/bootstrap.css rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        background:url(../static/imgs/milk.png)
      }
      .sidebar-nav {
        padding: 9px 0;
      }


    .form-bag {
	padding: 19px 29px 29px;
	margin 0 auto 20 px;
	background-color: #fff;
	border: 5px solid #add6ff;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
     }
      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href=/static/bootstrap/css/bootstrap-responsive.css rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../bootstrap/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href=/static/static/ico/apple-touch-icon-144-precomposed.png>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href=/static/static/ico/apple-touch-icon-114-precomposed.png>
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href=/static/static/ico/apple-touch-icon-72-precomposed.png>
                    <link rel="apple-touch-icon-precomposed" href=/static/static/ico/apple-touch-icon-57-precomposed.png>
    <link rel="shortcut icon" href=/static/imgs/favicon.ico>

  </head>

  <body>

  <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href='/home'><img src=/static/imgs/milkman-logo.png height="50" alt=""></a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav pull-right">
                <li><a href='/about'>About</a></li>
                <li><a href='/logout'>Logout</a></li>
                <li><a href='/allbags'>All Crates</a></li>
                <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Milk Order<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href='{{ url_for('mybags', userid=user.id) }}'>My Crates</a></li>
                    <li><a href='{{ url_for('mynetworks', userid=user.id) }}'>My Networks</a></li>
                    <li><a href='{{ url_for('mymilk', userid=user.id) }}'>My Account</a></li>
                 </u1>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->

<div class="container">
<div class="form-bag" method="post">
  <fieldset>          
  <div class="row-fluid">
    <h1>My Account</h1>
    <h2>Edit your Account:</h2>
    <p>
      <h3>First Name:</h3>
      <!-- if the name is too long -->
      {% with fnameerror = get_flashed_messages(category_filter=["fnameerror"]) %}
      {% if fnameerror %}
      {% for fnerr in fnameerror %}
        <p class=fnameerror style="color:#ff0000;font-size:14px;font-weight:bold;">
          <strong>Error:</strong> {{ fnerr }}
        </p>
      {% endfor %}
      {% endif %}
      <!-- error message if field is not filled out; only display if above error message isn't there -->
                {% with missingfnameerror = get_flashed_messages(category_filter=["missingfnameerror"]) %}
                  {% if missingfnameerror %}
                   {% if not fnameerror %}
                    {% for mfnerror in missingfnameerror %}
                      <p class=missingfnameerror style="color:#ff0000;font-size:14px;font-weight:bold;">
                        <strong>Error:</strong> {{ mfnerror }}
                      </p>
                    {% endfor %}
                  {% endif %}
		{% endif %}
                {% endwith %}
      {% endwith %}
	<input type="text" name="firstname" value={{user.firstname}}>
      <h3>Last Name:</h3>
      <!-- if the name is too long -->
      {% with lnameerror = get_flashed_messages(category_filter=["lnameerror"]) %}
      {% if lnameerror %}
      {% for lnerr in lnameerror %}
        <p class=lnameerror style="color:#ff0000;font-size:14px;font-weight:bold;">
          <strong>Error:</strong> {{ lnerr }}
        </p>
      {% endfor %}
      {% endif %}
      <!-- error message if field is not filled out; only display if above error message isn't there -->
                {% with missinglnameerror = get_flashed_messages(category_filter=["missinglnameerror"]) %}
                  {% if missinglnameerror %}
         {% if not fnameerror %}
                    {% for mfnerror in missinglnameerror %}
                      <p class=missinglnameerror style="color:#ff0000;font-size:14px;font-weight:bold;">
                        <strong>Error:</strong> {{ mlnerror }}
                      </p>
                    {% endfor %}
                  {% endif %}
		 {% endif %}
                {% endwith %}
      {% endwith %}
	<input type="text" name="lastname" value={{user.lastname}}>
      <h3>Email: * Note that you still need to login with your facebook email address, but all correspondence will be sent to this email address.</h3>
	<input type="text" name="email" value={{ user.email }}>
      <!-- if the name is too long -->
      {% with emailerror = get_flashed_messages(category_filter=["emailerror"]) %}
      {% if emailerror %}
      {% for fnerr in emailerror %}
        <p class=emailerror style="color:#ff0000;font-size:14px;font-weight:bold;">
          <strong>Error:</strong> {{ fnerr }}
        </p>
      {% endfor %}
      {% endif %}
      <!-- error message if field is not filled out; only display if above error message isn't there -->
                {% with missingemailerror = get_flashed_messages(category_filter=["missingemailerror"]) %}
                  {% if missingemailerror %}
         {% if not emailerror %}
                    {% for meerror in missingemailerror %}
                      <p class=missingemailerror style="color:#ff0000;font-size:14px;font-weight:bold;">
                        <strong>Error:</strong> {{ meerror }}
                      </p>
                    {% endfor %}
                  {% endif %}
                  {% endif %}
                {% endwith %}
      {% endwith %}
      <h3>Frist Mailbox:</h3>
      <!-- if the name is too long -->
      {% with mailboxerror = get_flashed_messages(category_filter=["mailboxerror"]) %}
      {% if mailboxerror %}
      {% for mberr in mailboxerror %}
        <p class=mailboxerror style="color:#ff0000;font-size:14px;font-weight:bold;">
          <strong>Error:</strong> {{ mberr }}
        </p>
      {% endfor %}
      {% endif %}
      <!-- error message if field is not filled out; only display if above error message isn't there -->
                {% with missingmailboxerror = get_flashed_messages(category_filter=["missingmailboxerror"]) %}
                  {% if missingmailboxerror %}
         {% if not mailboxerror %}
                    {% for mmberror in missingmailboxerror %}
                      <p class=missingmailboxerror style="color:#ff0000;font-size:14px;font-weight:bold;">
                        <strong>Error:</strong> {{ mmberror }}
                      </p>
                    {% endfor %}
                  {% endif %}
                  {% endif %}
                {% endwith %}
      {% endwith %}
	<input type="text" name="mailbox" value={ {user.mailbox }}>
    </p>
     <button type="submit" class="btn">Save Changes</button>

     <!-- Button to trigger modal -->
     <a href="#myModal" role="button" class="btn btn-danger" data-toggle="modal">Delete my account</a>
     
     <!-- Modal -->
     <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-header">
	 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	 <h3 id="myModalLabel">Delete your account</h3>
       </div>
       <div class="modal-body">
	 <p>Are you sure you want to delete your account?  Your information will be lost and unrecoverable</p>
       </div>
       <div class="modal-footer">
	 <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
	 <a href='{{ url_for('deleteaccount', userid=user.id) }}' class="btn btn-danger">Delete my account</a>
       </div>
     </div>
  </div>
  </fieldset>
   </form>
</div>   
</div><!--/.fluid-container-->

 <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src=/static/bootstrap/js/jquery.js></script>
    <script src=/static/bootstrap/js/bootstrap-transition.js></script>
    <script src=/static/bootstrap/js/bootstrap-alert.js></script>
    <script src=/static/bootstrap/js/bootstrap-modal.js></script>
    <script src=/static/bootstrap/js/bootstrap-dropdown.js></script>
    <script src=/static/bootstrap/js/bootstrap-scrollspy.js></script>
    <script src=/static/bootstrap/js/bootstrap-tab.js></script>
    <script src=/static/bootstrap/js/bootstrap-tooltip.js></script>
    <script src=/static/bootstrap/js/bootstrap-popover.js></script>
    <script src=/static/bootstrap/js/bootstrap-button.js></script>
    <script src=/static/bootstrap/js/bootstrap-collapse.js></script>
    <script src=/static/bootstrap/js/bootstrap-carousel.js></script>
    <script src=/static/bootstrap/js/bootstrap-typeahead.js></script>
    <script src="../bootstrap/js/holder/holder.js"></script>^M

  </body>
</html>
