
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Buy a Bag &middot; Roo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">

    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../bootstrap/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>



  <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Roo</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Login</a></li>
                <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Roo<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">My Bags</a></li>
                    <li><a href="#">My Friend's Bags</a></li>
                    <li><a href="#">My Networks</a></li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->
    <div class="container">

<form class="bs-docs-example">
            <fieldset>
              <legend>{{ bag.store }}</legend>
              <span class="help-block">Purchase needed for free shipping: {{bag.threshold}}</span>
	            <span class="help-block">Current amount in the bag: {{bag.amountinbag}}</span>
              <span class="help-block">Required amount to ship: {{bag.threshold-bag.amountinbag}}</span>
              <label>Add to Bag:</label>
              <label>Store URL</label>
                <input type="text" name="itemurl" placeholder="paste url here!">
	      <label>amount of purchase</label> 
	        <input  type="text" name="price" placeholder="cost of your purchase?">
              <label>size</label> <input type="text" placeholder="what size do you want?">
	            <label>quantity</label> <input type="text" placeholder="how many?">
              <label class="checkbox">
                <input type="checkbox" name="ship" value="True"> Ship to me?
              </label>
              <button type="submit" class="btn">Submit</button>
            </fieldset>
          </form>
    </div> <!-- /container -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src={{url_for('static', filename = "bootstrap/js/jquery.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-transition.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-alert.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-modal.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-dropdown.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-scrollspy.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-tab.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-tooltip.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-popover.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-button.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-collapse.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-carousel.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-typeahead.js")}}></script>


  </body>
</html>
