
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Buy a Bag &middot; The Milkman</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href={{url_for('static',filename="bootstrap/css/bootstrap.css")}} rel="stylesheet">

    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        background:url(../static/imgs/milk.png)
      }

    .form-bag {
 	max-width: 800px;
	padding: 19px 29px 29px;
	margin 0 auto 20 px;
	background-color: #fff;
	border: 5px solid #add6ff;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }
    </style>
    <link href={{url_for('static',filename="bootstrap/css/bootstrap-responsive.css")}} rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src={{url_for('static',filename="bootstrap/js/html5shiv.js")}}></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>



  <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href='{{ url_for('home') }}'>Roo</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li><a href="#about">About</a></li>
                <li><a href='{{ url_for('logout') }}'>Logout</a></li>
                <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Roo<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href='{{ url_for('mybags', userid=userid) }}'>My Bags</a></li>
                    <li><a href="#">My Networks</a></li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->
    <div class="container">

<form class="form-bag">
<form class="bs-docs-example" method="post">
            <fieldset>
	      {% with messages = get_flashed_messages(category_filter=["addmessage"]) %}
	      {% if messages %}
	      <ul class=flashes>
		{% for message in messages %}
		<div class="alert alert-success">
		  {{ message }}
		</div>
		{% endfor %}
	      </ul>
	      {% endif %}
	      {% endwith %}
              <legend><h1>{{ bag.store }}</h1></legend>

              <span class="help-block">Purchase needed for free shipping: {{ '%0.2f' % bag.threshold}}</span>
	            <span class="help-block">Current amount in the bag: {{ '%0.2f' % bag.amountinbag }}</span>
              <span class="help-block">Required amount to ship: {{ '%0.2f' % (bag.threshold-bag.amountinbag) }}</span>
              <h2>Edit your order:</h2>
              <h3>URL of Item</h3> 
	      <!-- error message if field is not filled out -->
	        {% with missingurlerror = get_flashed_messages(category_filter=["missingurlerror"]) %}
                  {% if missingurlerror %}
                    {% for muerror in missingurlerror %}
                      <p class=missingfielderror style="color:#ff0000;font-size:14px;font-weight:bold;">
                        <strong>Error:</strong> {{ muerror }}
                      </p>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
	      <input type="text" name="itemurl" value={{order.url}}>

	      <h3>Amount of Purchase</h3> 
	      <!-- error message if field is not filled out -->  
      	        {% with missingpriceerror = get_flashed_messages(category_filter=["missingpriceerror"]) %}
                  {% if missingpriceerror %}
                    {% for mperror in missingpriceerror %}
                      <p class=missingpriceerror style="color:#ff0000;font-size:14px;font-weight:bold;">
                        <strong>Error:</strong> {{ mperror }}
                      </p>
                    {% endfor %}
                  {% endif %}
                {% endwith %}

	      <!-- error message if price is invalid.  Only display if above error does not display-->
	        {% with priceerror = get_flashed_messages(category_filter=["priceerror"]) %}
	          {% if priceerror %}
	            {% if not missingpriceerror %}
	              {% for perror in priceerror %}
	                <p class=priceerror style="color:#ff0000;font-size:14px;font-weight:bold;">
			  <strong>Error:</strong> {{ perror }}
		        </p>
		      {% endfor %}
		    {% endif %}
		  {% endif %}
		{% endwith %}
	      <input  type="text" name="price" value={{order.price}}>

	      <h3>Order Details</h3> 
	      <!-- error if field is not filled out -->
	       {% with missingdetailserror = get_flashed_messages(category_filter=["missingdetailserror"]) %}
                  {% if missingdetailserror %}
                    {% for mderror in missingdetailserror %}
                      <p class=missingdetailserror style="color:#ff0000;font-size:14px;font-weight:bold;">
                        <strong>Error:</strong> {{ mderror }}
                      </p>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
	      <textarea rows="4" name="details" value={{order.details}}></textarea>
	      <label class="checkbox">
                <input type="checkbox" name="ship" value={{order.ship}}> <h3>Ship to me?</h3>
              </label>

              <button type="submit" class="btn">Submit</button>
            </fieldset>
          </form>
	</form>
    </div> <!-- /container -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src={{url_for('static', filename = "bootstrap/js/jquery.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-transition.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-alert.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-modal.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-dropdown.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-scrollspy.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-tab.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-tooltip.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-popover.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-button.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-collapse.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-carousel.js")}}></script>
    <script src={{url_for('static', filename = "bootstrap/js/bootstrap-typeahead.js")}}></script>


  </body>
</html>
