<!doctyp html>
<title>Roo</title>
<body>

<div id="fb-root"></div>
<script>
  // Additional JS functions here
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '366391460148417', // App ID
      channelUrl : 'rooprinceton.herokuapps.com/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional init code here
FB.getLoginStatus(function(response) {
  if (response.status === 'connected') {
console.log('You are logged in');
  } else if (response.status === 'not_authorized') {
console.log('You are not logged in and have not authorized');
    login();
  } else {
console.log('You have authorized but not logged in');
    login();
  }
 });
  };

function login() {
    FB.login(function(response) {
        if (response.authResponse) {
console.log('You good bro');
	testAPI();
            // connected
        } else {
console.log('Not sure how to handle this');
            // cancelled
        }
    });
}

function logout() {
FB.logout(function(response) {
  // user is now logged out
});
}

function testAPI() {
    FB.api('/me/friends', function(response) {
        console.log('Your first friend is, ' + response.data[0].name);
    });
}

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>

<a href="" onclick="login()"> Login</a>
<br>
<a href="" onclick="logout()"> Logout</a>

</body>
