
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>How it Works &middot; The Milkman</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href=/static/bootstrap/css/bootstrap.css rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 0px;
	background:url(../static/imgs/milk.png)
     }



    .form-bag {
	padding: 19px 29px 29px;
	margin 0 auto 20 px;
	background-color: #fff;
	border: 5px solid #add6ff;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
     }
    </style>
    <link href=/static/bootstrap/css/bootstrap-responsive.css rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src=/static/bootstrap/js/html5shiv.js></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="static/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href=/static/imgs/favicon.ico>

  </head>

  <body>

<div class="container">
<div class="form-bag">          
  <div class="row-fluid">
    <h1>How The Milkman Works:</h1>
	<p>Start by logging in using your Facebook account. Don't worry we won't post anything to your Facebook or use your information in anyway other than validating you are a real person! </p>
	<a class="brand"><img src=/static/imgs/facebook.png alt=""></a>
	<p>Next we'll verify that you are part of the Princeton network, so just sign in using your Princeton netid and password</p>
        <a class="brand"><img src=/static/imgs/cas.png alt=""></a>
	<p>Next enter your Frist mailbox number. We just want to have your mailbox number stored for any shipments we need to make. </p>
        <a class="brand"><img src=/static/imgs/mailbox.png alt=""></a>
	<p>You'll have access to our home page, from which you can navigate to anywhere on the site. </p>
	<a class="brand"><img src=/static/imgs/home page.png alt=""></a>
	<p>Go to the All Crates page and you can search for any crates in our system by name, or shipping amounts.</p>
	<a class="brand"><img src=/static/imgs/all_crates.png alt=""></a>
	<p>If you go to the My Crates page, you'll see that you have no crates.
	<a class="brand"><img src=/static/imgs/you_have-no_crates.png alt=""></a>
	<p>But you can add to crates simply by selecting a store and entering the necessary information.</p>
	<a class="brand"><img src=/static/imgs/add_to_bag.png alt=""></a>
	<p>The My Networks page will display the networks which you are apart of, which for the time being, is just Princeton.</p>
	<a class="brand"><img src=/static/imgs/my_networks.png alt=""></a>
	<p>And once you login you can find out even more about The Milkman by visiting the About page!
	<a class="brand"><img src=/static/imgs/about.png alt=""></a>
	<p>So login! And Happy Shopping!</p>

  </div><!--/.container-->
 </div>   
</div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src=/static/bootstrap/js/jquery.js></script>
    <script src=/static/bootstrap/js/bootstrap-transition.js></script>
    <script src=/static/bootstrap/js/bootstrap-alert.js></script>
    <script src=/static/bootstrap/js/bootstrap-modal.js></script>
    <script src=/static/bootstrap/js/bootstrap-dropdown.js></script>
    <script src=/static/bootstrap/js/bootstrap-scrollspy.js></script>
    <script src=/static/bootstrap/js/bootstrap-tab.js></script>
    <script src=/static/bootstrap/js/bootstrap-tooltip.js></script>
    <script src=/static/bootstrap/js/bootstrap-popover.js></script>
    <script src=/static/bootstrap/js/bootstrap-button.js></script>
    <script src=/static/bootstrap/js/bootstrap-collapse.js></script>
    <script src=/static/bootstrap/js/bootstrap-carousel.js></script>
    <script src=/static/bootstrap/js/bootstrap-typeahead.js></script>
  </body>
</html>
